@use "../assets/bg/bg" as bg;
@use "../assets/sprites/materials" as materials;
@use "../assets/sprites/items" as items;
@use "../assets/sprites/advisors" as advisors;
@use "../assets/sprites/blueprints" as blueprints;
@use "../assets/sprites/designs" as designs;
@use "../assets/sprites/consumables" as consumables;

@use "imports" as imports;
@use "reset" as reset;
@use "animation" as animation;
@use "aoeo" as aoeo;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
